// Bootsrap & Bootswatch color overrides
$brand-primary: #e49134 !default;
$brand-info: #eb9110;
$brand-tint: rgba(254, 178, 70, 1);
$navbar-default-link-hover-color: $brand-info;
$navbar-default-link-hover-bg: white;
$link-color: #e49134;

// Custom colors
$color-grey: #333;
$color-grey-1: #555;
$color-grey-2: #777;
$color-grey-3: #bbb;
$color-grey-4: #f3f3f3;
$color-orange: #eb9110;
$color-yellow-green: #beb239;
$color-green: #84a93f;
$color-blue: #4586cd;
$color-red: #e52213;
$color-dark-grey: #3d3d3d;

// Extracted from spacelab theme:
// Colors
$gray-base: #000 !default;
$gray-darker: #555 !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: #666 !default; // #555
$gray-light: lighten($gray-base, 60%) !default; // #999
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$navbar-default-bg: #eee !default;
$border: #dadada;

