// Don't remove, this file is part of the defaults


// structure variables
$gutter-width: 30px; // not yet implemented

// navbar variables


// image variables


// home page (blog) variables
$featured-card-max-height: 400px; // not yet implemented
$hero-card-max-height: 600px;  // not yet implemented