// Defined Color Names using HSL Color Model

$black: #000;
$white: #fff;

// grays
$color-gray-10: hsl(0, 0%, 10%);
$color-gray-20: hsl(0, 0%, 20%);
$color-gray-30: hsl(0, 0%, 30%);
$color-gray-40: hsl(0, 0%, 40%);
$color-gray-50: hsl(0, 0%, 50%);
$color-gray-60: hsl(0, 0%, 60%);
$color-gray-70: hsl(0, 0%, 70%);
$color-gray-80: hsl(0, 0%, 80%);
$color-gray-90: hsl(0, 0%, 90%);

// reds
$color-red: hsl(4, 80%, 50%);

// oranges
$color-span-orange: hsl(35, 87%, 49%);
$color-light-orange: hsl(35, 99%, 64%);
$color-orange-tint: hsl(35, 83%, 86%);
$color-orange-ultralight: hsl(35, 100%, 96%);
$color-international-orange: hsl(16, 83%, 54%);
$color-peach: hsl(35, 83%, 86%);


// yellows
$color-bright-yellow: hsl(50, 100%, 50%);
$color-yellow-green: #beb239;

// greens
$color-green: hsl(81, 50%, 50%);
$color-dark-teal: hsl(177, 40%, 29%);
$color-mid-teal: hsl(177, 100%, 25%);
$color-light-teal: hsl(177, 40%, 47%);
$color-aquamarine: hsl(160, 100%, 75%);

// blues
$color-aqua: hsl(180, 100%, 50%);
$color-blue: #4586cd;

// purples


// pinks


// browns


// whites


