html,
body {
  font-family: $primary-font-family !important;
}

code,
kbd,
pre,
samp {
  font-family: monospace !important;
  position: relative;

  span {
    font-family: monospace !important;
  }
}
