// Bootsrap & Bootswatch color overrides
$brand-primary: #e49134 !default;
$brand-info: #eb9110;
$brand-tint: rgba(254, 178, 70, 1);
$navbar-default-link-hover-color: $brand-info;
$navbar-default-link-hover-bg: white;
$link-color: #e49134;

// Custom colors
$color-grey: #555;
$color-grey-2: #777;
$color-grey-3: #bbb;
$color-grey-4: #f3f3f3;
$color-orange: #eb9110;
$color-yellow-green: #beb239;
$color-green: #84a93f;
$color-blue: #4586cd;
$color-red: #e52213;
$color-dark-grey: #3d3d3d;

// Extracted from spacelab theme:
// Colors
$gray-base: #000 !default;
$gray-darker: #555 !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: #666 !default; // #555
$gray-light: lighten($gray-base, 60%) !default; // #999
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$navbar-default-bg: #eee !default;
$border: #dadada;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// Fonts
$primary-font-family: 'Open Sans' !default; 

$font-size-base: 14px;
$font-size-large: 16px;
$font-size-small: 10px;

$font-size-h1: 34px;
$font-size-h2: 30px;
$font-size-h3: 26px;
$font-size-h4: 22px;
$font-size-h5: 18px;
$font-size-h6: 16px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$padding-base-vertical: 8px !default;
$padding-base-horizontal: 12px !default;
$line-height-computed: floor(
  ($font-size-base * $line-height-base)
) !default; // ~20px

$input-height-base: (
  $line-height-computed + ($padding-base-vertical * 2) + 2
) !default;

// Include glyphicons (remove this when bootstrap dependency is removed)
// The icons font path needs to be loaded before bootstrap in order to work
$icon-font-path: "assets/fonts/bootstrap/" !default;
