
// {{< tabs >}}
.gdoc-tabs {
  margin: $padding-16 0;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  &__label {
    display: inline-block;
    padding: $padding-8 $padding-16;
    cursor: pointer;
  }

  &__content {
    order: 999; //Move content blocks to the end
    width: 100%;
    padding: 8px;
    display: none;
  }

  &__control:checked + &__label {
    border-bottom: $border-2 solid $link-color;
  }
  &__control:checked + &__label + &__content {
    display: block;
  }

  .gdoc-page__anchor {
    display: none;
  }
}